* {
font-family:helvetica,arial,sans-serif;
font-size:11px;
color:#5f6565;
}

html {
height:100%;
margin-bottom:1px;
}

body {
height:100%;
background:#fff;
font-family:helvetica,arial,sans-serif;
font-weight:400;
margin:0 0 1px;
padding:0;
}

table,td,th,div,pre,blockquote,ul,ol,dl,address,.componentheading,.contentheading,.contentpagetitle,.sectiontableheader,.newsfeedheading {
font-family:helvetica,arial,sans-serif;
font-weight:400;
}

#outline {
width:814px;
background:#fff;
margin:0;
padding:60px 0;
}

#errorboxoutline {
width:600px;
border:1px solid #000;
margin:0;
padding:0;
}

#errorboxheader {
width:600px;
background:#42e442;
color:#fff;
font-weight:700;
font-size:12px;
line-height:22px;
text-align:center;
border-bottom:1px solid #000;
margin:0;
padding:0;
}

#errorboxbody {
text-align:left;
margin:0;
padding:10px;
}

#techinfo {
text-align:left;
border:1px solid #ccc;
color:#ccc;
margin:10px;
padding:10px;
}

#techinfo p {
color:#ccc;
}
